*{
  box-sizing: border-box;
}
:root {
  --color-bg-body: #faf9f6;
  --color-header-footer: #2c5530;
  --color-hover: #ff6b35;
  --color-btn-hover: #1a3d1e;
  --color-scroll: #ff6b35;
  --color-scroll-hover: #e55a2b;
  --color-shadow: rgba(0,0,0,0.1);
  --color-accent: #8b4513;
  --blanco:white;
}
.f-left {
  float: left;
}

.f-right {
  float: right;
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", serif;
  background-color: var(--color-bg-body);
}


header{
  background-color: var(--color-header-footer);
  position: sticky;
  top: 0;
  padding: 15px;
  width: 100%;
  z-index: 4;
}

.logo span{
  color: var(--blanco);
  font-weight: bold;
  font-size: 1.3rem;
  vertical-align: middle;
  margin-left: 10px;
}

.logo img{
  vertical-align: middle;
}

.logo{
  text-decoration: none;
  color: var(--blanco);
}

.botones a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: var(--blanco);
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
  line-height: 50px; /*tamaño de la imagen*/
}

.botones a:hover,
.botones a.active {
  color: var(--color-hover);
}

footer {
  background-color: var(--color-header-footer);
  color: var(--blanco);
  padding: 15px;
  width: 100%;
  z-index: 4;
  overflow: hidden; 
}
.footer div{
  float: left;
  color: var(--blanco);
  vertical-align: middle;
  margin-left: 10px;
}
/* INTRO */
.intro {
  text-align: center;
  margin-bottom: 2rem;
}

.intro h1 {
  color: var(--color-header-footer);
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.subtitulo {
  color: var(--color-accent);
  font-size: 1.05rem;
  font-style: italic;
}



/* CARDS */
.card {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 6px var(--color-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  aspect-ratio: 16/9;
  object-fit: cover;
  z-index: 2;
}

/* TARJETA DESTACADA */
.destacado h2 {
  color: var(--color-header-footer);
  margin: 0.5rem 0;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-header-footer);
}
.destacado h3 {
  color: var(--color-header-footer);
  margin: 0.5rem 0;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--color-header-footer);
}

.autor {
  color: var(--color-accent);
  margin: 0.3rem 0 0.7rem;
}

/* NOVEDADES */
aside h2 {
  font-size: 1.5rem;
  color: var(--color-header-footer);
  border-bottom: 1px solid var(--color-header-footer);
  margin-bottom: 0.8rem;
}
.scroll-up{
  border-radius: 20px;
  background-color: #1a3d1e;
  padding: 20px;
  bottom: 20px;
  right: 20px;
  position: fixed;
  z-index: 99;
}
.scroll-up a{
  text-decoration: none;
  color: white; 
}
html{
  scroll-behavior: smooth;
}
