/***********************************/
/********** Ejercicio 1.1 **********/
/***********************************/
.ej1 {
    flex-direction: column-reverse;
    align-items: end;
}

.ej1 :nth-child(1) {
}

.ej1 :nth-child(2) {
}

.ej1 :nth-child(3) {
    flex-grow: 1;
}

/***********************************/
/********** Ejercicio 1.2 **********/
/***********************************/
.ej2 {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ej2 :nth-child(1) {
    align-self: flex-start;
    gap: 10px;
}

.ej2 :nth-child(2) {
    order: -1;
}

.ej2 :nth-child(3) {
    align-self: flex-end;
    
}

/***********************************/
/********** Ejercicio 1.3 **********/
/***********************************/
.ej3 {
}

.ej3 :nth-child(1) {
    align-self: flex-start;
    order: 1;
}

.ej3 :nth-child(2) {
    order: -1;
}

.ej3 :nth-child(3) {
    align-self: flex-start;
}

/***********************************/
/********** Ejercicio 1.4 **********/
/***********************************/
.ej4 {
    flex-wrap: wrap;
}

.ej4 :nth-child(1) {
    align-self: flex-start;
}

.ej4 :nth-child(2) {
    align-self: center;
}

.ej4 :nth-child(3) {
    align-self: flex-end;
}

.ej4 :nth-child(4) {
}

.ej4 :nth-child(5) {
    flex-grow: 1;
}

/***********************************/
/********** Ejercicio 1.5 **********/
/***********************************/
.ej5 {
    justify-content: center;
}

.ej5 :nth-child(1) {
    flex-basis: 33.3%;
    flex-grow: 1;
}

.ej5 :nth-child(2) {
    flex-basis: 33.3%;
    flex-grow: 1;
}

.ej5 :nth-child(3) {
    flex-basis: 33.3%;
    flex-grow: 1;
}

/***********************************/
/********** Ejercicio 1.6 **********/
/***********************************/
.ej6 {
    align-content: flex-start;
    flex-wrap: wrap;
}

.ej6 :nth-child(1) {
    flex-grow: 1;
}

.ej6 :nth-child(2) {
    flex-grow: 1;
}

.ej6 :nth-child(3) {
    flex-grow: 1;
}
