/***********************************/
/********** Ejercicio 1.1 **********/
/***********************************/
.ej1 {
    flex-direction: column-reverse;
    justify-content: start;
    
}

.ej1 :nth-child(1) {
}

.ej1 :nth-child(2) {
}

.ej1 :nth-child(3) {
    flex-grow: 1;
}

/***********************************/
/********** Ejercicio 1.2 **********/
/***********************************/
.ej2 {
    flex-direction: column;
    justify-content: space-between;
    
}

.ej2 :nth-child(1) {
}

.ej2 :nth-child(2) {
    order: -1;
}

.ej2 :nth-child(3) {
}

/***********************************/
/********** Ejercicio 1.3 **********/
/***********************************/
.ej3 {
    justify-content: flex-start;
}

.ej3 :nth-child(1) {
}

.ej3 :nth-child(2) {
    
}

.ej3 :nth-child(3) {
}

/***********************************/
/********** Ejercicio 1.4 **********/
/***********************************/
.ej4 {
}

.ej4 :nth-child(1) {
}

.ej4 :nth-child(2) {
}

.ej4 :nth-child(3) {
}

.ej4 :nth-child(4) {
}

.ej4 :nth-child(5) {
}

/***********************************/
/********** Ejercicio 1.5 **********/
/***********************************/
.ej5 {
}

.ej5 :nth-child(1) {
}

.ej5 :nth-child(2) {
}

.ej5 :nth-child(3) {
}

/***********************************/
/********** Ejercicio 1.6 **********/
/***********************************/
.ej6 {
}

.ej6 :nth-child(1) {
}

.ej6 :nth-child(2) {
}

.ej6 :nth-child(3) {
}
